
<ion-view title="关于">

    <ion-content class="padding" style="padding: 0px;">
        <div class="card" style="margin: 0px;box-shadow:0 0px 0px rgba(0, 0, 0, 0.3) !important;">
            <div class="item item-text-wrap">
                <div>
                    <span style="font-weight: bold">作者:</span>
                    <span style="font-size: 15px">linkenliu</span>
                </div>
                <hr/>
                <div>
                    <span style="font-weight: bold">介绍:</span>
                    <span style="font-size: 15px;">因最近学习angularjs,所想做个什么项目来练练手,
                        就想到了模仿暴走漫画,在这里用到的技术有nodejs,express,mongoose,angularjs,ionic,redis缓存,七牛云存储,爬虫,socket等.如果deom可以帮助到你的学习的话,还请给个star哈.嘿!!!</span>
                </div>
                <hr/>
                <div>
                    <span style="font-weight: bold">架构:</span>
                    <span style="font-size: 15px">nodejs+express+mongodb+angularjs+ionic</span>
                </div>
                <hr/>
                <div>
                    <span style="font-weight: bold">github:</span>
                    <a style="font-size: 15px" target="_blank" href="https://github.com/linkenliu/baozoumanhua_ionic.git">客户端链接</a>&nbsp;&nbsp;
                    <a style="font-size: 15px" target="_blank" href="https://github.com/linkenliu/baozoumanhua_api.git">API链接</a>&nbsp;&nbsp;
                </div>
                <hr/>
                <div>
                    <span style="font-weight: bold">安装:</span>
                    <span style="font-size: 15px">npm install</span>
                </div>
                <hr/>
                <div>
                    <span style="font-weight: bold">运行:</span>
                    <span style="font-size: 15px">npm start</span>
                </div>
                <hr/>
                <div>
                    <span style="font-weight: bold">访问:</span>
                    <span style="font-size: 15px">http://localhost:3060/home</span>
                </div>
                <hr/>
            </div>
        </div>
    </ion-content>
</ion-view>
