<ion-view view-title="小故事详情">
    <ion-content class="padding" style="padding: 0px">
            <div class="list card" style="margin: 0">
                <div class="item item-avatar">
                    <img src="{{story.cover}}">
                    <h2 style="margin-top: 8px">{{story.title}}</h2>
                </div>
                <div class="item item-image" style="margin-left: 5px;margin-right: 5px">
                    <img src="{{story.image_url}}">
                </div>
            </div>
    </ion-content>
</ion-view>