<ion-view title="系统设置" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button ng-disabled="" ng-click="systemBack()" class="button button-icon icon ion-ios-arrow-back" value="返回">返回</button>
    </ion-nav-buttons>
    <ion-content>

        <button style="margin-top: 10px;border-radius: 15px;margin-left: 30px;margin-right: 30px;width: 83%"
                class="{{loginBtnClass}}" ng-click="loginOrOut()">{{loginBtnTitle}}
        </button>

        <div></div>
    </ion-content>
</ion-view>
